{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h2>Inscription</h2>
    {{ form_widget(form) }}
    <input type="submit" id='submit' value="S'inscrire">
    {{ form_end(form) }}
{% endblock %}
